.btn{
    align-self: center;
    margin: 40px;
    padding: 20px;
    padding: 20px 100px 18px 100px;
    color: rgb(31, 30, 30);
    font-family: arial;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background: rgb(235, 241, 227);
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

}