.header {
  width: 100%;
  height: 5rem;
  background-color: #5c2d01;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 10px;
  padding: 10px;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid rgb(169, 86, 86);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  color: #c291e2;
}

.header button:hover {
  background-color: #c291e2;
  color: #38015c;
}
.btn{
  margin: 30px;
  padding: 30px;
  
}
.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #045c1f;
  color: white;
  padding:2rem;
  margin: 20px;
  
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0 2px 2px 2px rgba(22, 24, 21, 0.25);
}

.button:hover,
.button:active {
  background-color: #64850a;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #13130b;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  30% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}