.dashboard {
    padding: 30px;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
  }
  
  .dashboard__title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .dashboard__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  .dashboard__table th,
  .dashboard__table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .dashboard__table th {
    background-color: #ddd;
  }
  .chart{
    display: flex;
    
    max-width: 80%;
    border: 2px solid black;
   
  }
  .pie{
    display: flex;
    align-items: end;
  text-align: end;
    height: 30%;
    width: 20%;
    

  }