.body {
    height: 50%;
    width: 80%;
    background-color: #f3ddb6;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 85px;
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

/*  */

.styledInput {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 750px) {
    .styled-input {
        width: 100%;
    }
}

.styledInput label {
    color: rgb(255, 255, 255);
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.selectTime {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #5c2d01;
    color: #ffffff;
    border-radius: 4px;

}

.styledInput.wide {
    width: 650px;
    max-width: 100%;
}

.styledInput input,
.textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #5c2d01;
    color: #ffffff;
    border-radius: 4px;
}

.styledInput input:focus,
.textarea:focus {
    outline: 0;
}

.styledInput input:focus~span,
.textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

.textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submitBtn {

    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #100903;
    color: white;
    font-size: 28px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(32, 132, 246, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submitBtn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
    .submitBtn {
        width: 100%;
        float: none;
        text-align: center;
    }
}

input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
}