@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    --cloudblue:#51718C;
    --white:#FFFFFF;
}
.body{
   
   
    /* background: linear-gradient(180deg, rgba(134, 103, 63, 0.7), rgba(134, 103, 63, 0.7), rgba(134, 103, 63, 0.7)); */
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color:var(--white);
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #FFFFFF;
    
}
.p{
    margin-bottom:10px;
}
.td_container{
    width: 200px;
    text-align:center;
    margin: 20px;
}
.body title{
    font-weight:500;
}
.description{
    font-style:italic;
    font-size:18px;
}
.mod{
    width:200px;
    height: 200px;
   
}
.title,.description{
    margin-bottom:10px;
}
.upload_container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.upload_form{
    
    position: relative;
    
    top: -3%;
    right: 70%;
  
    
 width:100%;
 margin-top:25px;
 padding:30px;
 background-color:rgba(109, 75, 37, 0.9);
 border-radius:5px;
 
}
.body input[type="text"],[type="email"],[type="number"]{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    margin-top:10px;
}
.checkbox_container,.textarea_container,.group_section-one,
.button_container{
    width:550px;
    padding:18px;
    font-size:18px;
    
}
.selection_container{
    width:550px;
    padding:18px;

}

.textarea_box{
    width:100%;
    height:150px;
}
.dropdown,.submit{
    width:100%;
    padding:10px;
}
.submit{
    background-color:var(--cloudblue);
    border:none;
    border-radius:5px;
    padding:10px;
    color:var(--white);
}
