@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  background-color: bisque;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.cont{
  display:flex;
  flex-grow: inherit;
  flex-direction: row;
 
 
 

    /* display: grid;
    grid-template-rows: [row1-start] 25px [row1-end row2-start] 25px [row2-end];
  grid-template-columns: auto 50px auto;
    grid-template-areas:
    
    "sidebar remain remain"
    "sidebar remain remain"
    "sidebar remain remain";
       
    grid-template-columns: 1fr 1fr 1fr;
    
    align-items:center; */
}

.sidebar{
  flex: 50%;
 
 

}
.remain{
  flex: 50%;
}