.section{
    position: relative;
    top: 50%;
  
    flex-flow: row;
    justify-content: center;
    align-items: center;
   

}
.section p{
    font-family: 'Noto Sans',sans-serif;
    font-size: 20px;
    line-height: 25px;
}
.section h1{
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    color:rgb(0, 0, 0)
}
.section div{
   
    width: 500px;
    color: #261d16;
    padding: 30px;
    border-radius: 14px;
    height: 450px;
    
    box-shadow: 12px 0px 32px -12px black;
    margin-top: 10%;
    margin-right: 50px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.section div:nth-child(1){
    background: #d3a56e;
}
.section div:nth-child(2){
    background: #764AF1;
}
.section div:hover{
    /* transform: translateY(-16px) rotate(3deg); */
}
.section div:hover ~ div{
    transform: translateX(130px);
}

.glowonhover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(141, 23, 23);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.glowonhover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowonhover:active {
    color: rgb(24, 23, 23)
}

.glowonhover:active:after {
    background: transparent;
}

.glowonhover:hover:before {
    opacity: 1;
}

.glowonhover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #361c02;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
